name: Build and test application

on: workflow_dispatch

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install pip and poetry
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry==1.8.2
    - name: Configure poetry
      run: |
        python -m poetry config virtualenvs.in-project true
    - name: Cache the virtualenv
      uses: actions/cache@v4
      with:
        path: ./.venv
        key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}
    - name: Install dependencies
      run: |
        python -m poetry install
    - name: Download NLP model
      run: |
        python -m poetry run python -m spacy download en_core_web_sm
    - name: Run test suite
      run: |
        python -m poetry run python -m unittest
